.lead{
    border: 1px solid red;
    width: 984px;
    margin: 56px auto 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lead__post{
    border: 1px solid red;
    margin: 64px 0 0 0;
    padding: 0;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .lead{
        border: 1px solid red;
        margin: 56px auto 0 auto;
        width: 928px;
    }
    .lead__post{
        border: 1px solid red;
        margin: 64px 0 0 0;
        width: 100%;
    }
} 