.header__logo{
    margin: calc(28px - 46px) 0 0 0;
    width: 176px;
    height: 52px;
    background-image: url("../../../images/header__logo-min.svg");
    background-size: cover;
    
}
@media screen and (max-width: 320px) {
    .header__logo{
        margin: calc(16px - 30px) 0 0 0;   
        width: 142px;
        height: 42px;
    }
} 