.header {
    width: calc(100% - (48px * 2));
    margin: 28px auto 0 auto;
    max-width: calc(1280px - (48px * 2));
    min-width: 320px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    .header {
        margin: 46px auto 0 auto;
        width: calc(100% - (24px * 2));
    }
}

@media screen and (max-width: 370px) {
    .header {
        margin: 30px auto 0 auto;
        width: calc(100% - (16px * 2));
    }
}