.cover{
    margin: 92px auto 0 auto;
    width: calc(100% - 7.5%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    transition: opacity 0.2s linear;
}
.cover:hover{
opacity: .8;
}

@media screen and (max-width: 1024px) {
    .cover{
        margin: 92px 0 0 0;
        width: 100%;
    }
} 
@media screen and (max-width: 768px) {
    .cover{
        margin: 90px 0 0 0;
    }
} 
