.cover__background{
    margin: 0;
    padding: 0;
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
}
@media screen and (max-width: 1024px) {
    .cover__background{
        width: 100%;
    }
} 