.place{
    margin: 80px 0 0 0;
    display: grid;
    flex-direction: row;
    grid-template-areas:
    "title website"
    "image paragraph";
}
@media screen and (max-width: 768px) {
    .place{
        margin: 88px 0 0 0;
    }
}
@media screen and (max-width: 768px) {
    .place{
        margin: 73px 0 0 0;
    }
}
@media screen and (max-width: 745px) {
    .place{
        grid-template-areas:
        "title"
        "website"
        "image" 
        "paragraph";
        justify-items: center;
    }
}

@media screen and (max-width: 400px) {
    .place{
        margin: 50px 0 0 0;
        width: 100%;
    }
}